<template>
  <article>
    <ContentDoc />
  </article>
  <div>
    Post id is {{ route.params.id }}
  </div>
</template>
  
  <script setup>
  const route = useRoute()
  console.log(route.params.slug)
  </script>